/* Estilo para el contenedor del menú */
body{
  font-family: calibri;
  background-color: white;
  margin: 0;
}
.menu-container {
    background-color: #c0c0c0; /* Color de fondo azul medianoche */
    display: flex;
    align-items: center;
    
  }
  
  /* Estilo para las opciones de enlace */
  .menu-opciones {
    color: white; 
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 10px;
    position: relative;
    font-size: 20px;
  }
  
  /* Estilo para la línea blanca al pasar el ratón */
  .menu-opciones:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; /* Mover la línea hacia abajo */
    height: 2px;
    background-color: white;
  }
  .menu-icono {
    font-size: 24px;
    margin-right: 20px;
    color: white; 
    text-decoration: none;
    cursor: pointer;
    justify-content: left;
  }
  .iconos-derecha {
    margin-left: auto; /* Mueve los iconos a la derecha */
    display: flex;
    align-items: center;
  }

  /*Imagenes*/
.logo {
    width: 80px;
    height: auto;
    padding-left: 0%;
  }
.mantenimiento{
    width: 90%;
    height: auto;
}
/* Estilo para el footer */
footer {
    background-color: #8A9597; /* Fondo azul medianoche */
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .footer-columnas {
    display: flex;
    justify-content: center;
  }
  
  .footer-columna {
    flex: 1;
    padding: 10px;
    text-align: center; /* Alinear el contenido al centro */
  }
  
  .footer-columna ul {
    list-style: none; /* Elimina las viñetas de la lista */
    padding: 0;
  }
  
  .footer-columna ul li {
    margin-bottom: 5px;
  
  }
  
  .footer-columna h3 {
    margin-bottom: 10px; /* Separación entre el encabezado y la lista */
    box-shadow: 0 0 5px silver; /*la sombra del cuadrado de las palabras */
  }
  
  .footer-columna a {
    text-decoration: none;
    color: white; /* Color del texto enlaces */
    outline: none; 
  }
  .footer-columna a:link {
    color: white;
  }
  .footer-columna a:hover {
    color:black; /* Cambia el color al pasar el ratón por encima */
    background: lightslategrey;
  }
  